#followContainer {
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 10%;
}

.follow {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.list {
  width: 60%;
}

.search {
  width: 40%;
}

.sign {
  margin: 50px 0;
  font-size: 50px;
  color: white;
}

.oneFollowong > span {
  margin: 5px;
}

.followBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  color: black;
}

.followBtn:hover {
  color: gray;
}

.searchBox {
  border: 2px solid gray;
  border-radius: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  padding: 10px 0;
  margin: 20px;
  overflow: auto;
}

.followInput {
  width: 100%;
  height: 30px;
  outline: none;
  padding: 0 10px;
  border-radius: 5px;
}

.oneFollowong {
  padding-top: 5px;
  border-radius: 5px;
  margin: 5px 0;
  background-color: white;
  height: 40px;
  box-shadow: 5px 5px 5px;
}

@media screen and (max-width: 1024px) {
  #followContainer {
    height: 1366px;
    padding-right: 5%;
  }

  .list {
    width: 50%;
  }
  
  .search {
    width: 50%;
  }
}

@media screen and (max-width: 540px) {
  #followContainer {
    flex-direction: column;
    align-items: center;
    height: 585px;
    padding: 0;
  }

  .sign {
    margin: 10px;
    font-size: 20px;
  }

  .oneFollowong > span {
    margin: 2px;
    font-size: 10px;
  }
  
  .followBtn {
    font-size: 10px;
  }

  .searchBox {
    height: auto;
    border: none;
    border-radius: 0;
    width: auto;
  }

  .oneFollowong {
    border-radius: 0;
    width: 250px;
    padding-left: 40px;
  }
}

