* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  font-family: "Jua", sans-serif;
}

.gradeBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center; /* main axiss */
  align-items: center; /* cross axiss */
  text-align: center;
  border: 1px solid yellow;
  /* width: 345px; */
  height: 40px;
  margin-top: 5px;
}

.grade {
  display: flex;
  flex-direction: row;
  text-align: center;
}

/* 768 1024 ipad 사이즈 */
@media screen and (min-width: 768px) {
  .gradeBox {
    height: 60px;
  }

  .grade {
    font-size: 50px;
  }
}

/* 1024 1366 ipad pro 사이즈 */
@media screen and (min-width: 1024px) {
  .gradeBox {
    height: 80px;
    margin-top: 40px;
  }

  .grade {
    font-size: 60px;
  }
}
