.grade {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px 20px 0;
  font-size: 1.5rem;
  color: antiquewhite;
}

@media screen and (min-height: 1024px) {
  .grade {
    font-size: 2rem;
  }
}

@media screen and (min-height: 1366px) {
  .grade {
    font-size: 2.5rem;
    margin: 30px 40px 0;
  }
}

@media screen and (min-width: 1025px) {
  .grade {
    font-size: 2.5rem;
    margin: 50px 40px 0;
  }
}
