#pw {
  color: black;
}

#id {
  color: black;
}

.LoginDiv {
  position: relative;
  z-index: 2;
}

.LoginDiv h1 {
  font-size: 32px;
  color: black;
  text-align: center;
  margin-bottom: 60px;
}

.inputLine {
  width: 400px;
  position: relative;
  margin-top: 20px;
}
.inputLine:first-child {
  margin-top: 0;
}
.inputLine input {
  width: 99%;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
  font-size: 18px;
  color: white;
  outline: none;
}

.inputLine label {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 18px;
  color: gray;
  transition: top 0.5s ease;
}
.inputLine input:focus + label,
.inputLine input:valid + label {
  top: -2px;
  font-size: 13px;
  color: #166cea;
}

.LoginBtn,
.SignUpBtn {
  margin-top: 30px;
}

.LoginBtn button,
.SignUpBtn button {
  width: 100%;
  height: 40px;
  background-color: #166cea;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.SignUpBtn button {
  background-color: gray;
}

.OauthDiv {
  color: white;
  margin-top: 40px;
  align-items: center;
}

.AuthGithub {
  cursor: pointer;
  text-align: center;
}

.AuthGoogle {
  margin-right: 100px;
  text-align: center;
}

.fa-github,
.fa-google {
  font-size: 40px;
  color: black;
}

.fa-github:hover,
.fa-google:hover {
  color: orange;
}

.or {
  margin-top: 10px;
}

.LoginBtn button:hover {
  background-color: orange;
}
.SignUpBtn button:hover {
  background-color: orange;
}

/* LoginPage.js css 처리 */

.container {
  width: 1200px;
  border-radius: 4px;
  height: 100%;
  background-color: #fcf6f5;
  color: black;
  margin: 100px auto;
  display: flex;
}

.cover {
  flex-grow: 4;
  flex-shrink: 1;
  height: 100%;
}

.content {
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  flex-grow: 2;
}

.cover-photo {
  height: auto;
}

/*ipad*/
@media screen and (max-width: 1366px) {
  .container {
    margin-top: 150px;
    width: 100%;
  }

  .content {
    position: absolute;
    top: 27%;
    left: 45%;
  }
  .LoginBody {
    padding: 30px 30px;
    background-color: #fcf6f5;
  }
}

/*414 iphone6+ */
@media screen and (max-width: 552px) {
  .cover {
    display: none;
  }

  .content {
    top: 10%;
    left: 30%;
  }
}

/*375 iphoneX */
@media screen and (max-width: 500px) {
  .content {
    top: 10%;
    left: 41%;
  }
}

/* 320px iphone5 */
@media screen and (max-width: 427px) {
  .content {
    margin-left: 35px;
  }
}
