
* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif,;
  font-style: italic
}

.allInBox {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  flex-direction: column;
}

.exceptNavBar {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}


@media screen and (min-width: 1025px) {
  .exceptNavBar {
    flex-direction: row;
  }
}
