.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FCF6F5;
  padding: 8px 12px;
  border-bottom: 5px solid;
}

.navBar a {
  text-decoration: none;
  color: #0a122a;
}

.navBarLogo {
  font-size: 24px;
  margin-left: 30px;
}

.navBarMenu {
  display: flex;
  list-style: none;
  padding-left: 0;
  align-items: baseline;
}

.navBarMenu li {
  padding: 8px 20px;
}

.navBarMenu li:hover {
  background-color: #efefef;
  border-radius: 4px;
}

.navBarHambeger {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  background-color: #FCF6F5;
  /* color: #EFEFEF; */
}

/* .navBarLogin {
  font-size: 22px;
} */
.navBarSignup {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .navBar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navBarMenu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navBarMenu li {
    width: 100%;
    text-align: center;
  }

  .navBarHambeger {
    display: block;
  }

  .navBarMenu.active {
    display: flex;
  }
}
