.week {
  background-color: #0a122a;
  color: antiquewhite;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  padding: 10px;
  margin: 15px 25px;
  flex-wrap: wrap;
  line-height: 1.5em;
  font-size: 1.5rem;
}

@media screen and (min-height: 1024px) {
  .week {
    font-size: 2rem;
  }
}

@media screen and (min-height: 1366px) {
  .week {
    font-size: 3rem;
    margin: 30px 40px;
  }
}

@media screen and (min-width: 1025px) {
  .week {
    font-size: 2.5rem;
    margin: 50px 40px 0;
  }
}
