.oneRecordBox {
  background-color: #0a122a;
  color: antiquewhite;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 15px 25px;
  line-height: 1.5em;
  /* font-size: 1.2rem; */
  /* height: 75%; */
}

@media screen and (min-height: 1024px) {
  .oneRecordBox {
    line-height: 2em;
    font-size: 2rem;
  }
}

@media screen and (min-height: 1366px) {
  .oneRecordBox {
    line-height: 2em;
    font-size: 2.5rem;
    margin: 30px 40px;
    padding: 40px;
  }
}

@media screen and (min-width: 1025px) {
  .oneRecordBox {
    line-height: 2em;
    font-size: 1.7rem;
    margin: 55px 40px;
    padding: 38px;
  }
}
